@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /*font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;*/
}

.icon-home:before {
  content: "\f009" !important;
}
.icon-portfolio:before {
  content: "\f200" !important;
}
.icon-news:before {
  content: "\f1ea" !important;
}
.icon-account:before {
  content: "\f007" !important;
}
.icon-admin:before {
  content: "\f502" !important;
}
.icon-signin:before {
  content: "\f2f6" !important;
}
